@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root{
    --darkcyan: hsl(185, 75%, 39%);
    --darkblue: hsl(229, 23%, 23%);
    --greyblue: hsl(227, 10%, 46%);
    --grey: hsl(0, 0%, 59%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18;
}
body{
    min-height: 100vh;
    background: right 55vw bottom 30vh no-repeat url("./images/bg-pattern-top.svg"),
      50vw 50vh no-repeat url("./images/bg-pattern-bottom.svg"), var(--darkcyan);
    min-height: 100vh;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.header-img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 100%;
    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.content img{
    
    margin-top: -54px;
    border-radius: 50%;
    border: 7px solid #fff;
}
.username{
    margin: 30px 0 10px;
}
.username .age{
    font-weight: lighter;
    opacity: 0.7;
    margin-left: 5px;
}
.location{
    margin-bottom: 25px;
    opacity: 0.7;
    font-size: 15px;
}
.stats{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    opacity: 0.9;
    
}
.stats::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgb(168, 178, 209);
    opacity: 0.5;
}
.stats div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

.stats p{
    margin-top: 7px;
    font-size: 10px;
    letter-spacing: 1.5px;
    opacity: 0.6;
    font-weight: bold;
}